.timer.r {
  width: 90vw;
  border-radius: 4px;
  position: fixed;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: left;
}

.time {
  padding-bottom: 3px;
  color: var(--grey-dark);
}

#number_time {
  display: inline-block;
  width: fit-content;
  width: -moz-fit-content;
  text-align: center;
  color: inherit;
}
#type_time {
  color: inherit;
  padding-left: 4px;
}

.barTime {
  height: 5px;
  position: relative;  
  background: transparent;
  background: var(--soft-white);
}

.barTime,
.progress {
  width: 100%;
  border-radius: 4px;
}

.progress {
  display: block;
  height: 100%;
  background: springgreen;
  transition: 100ms;
}

.progress:hover {
  margin-top: -1px;
  height: calc(100% + 2px);
}
